.about-card-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .card-contain {
        position: relative;
        padding: 2rem 0rem;

        width: 220px;
        .header-area {
            .image-area {
                img {
                    height: 18rem;
                    width: 18rem;
                    border: solid 0.5rem $color-wh;
                    border-radius: 12rem;
                    box-shadow: $card-sh;
                }
            }
        }
        a.icon-round {
            position: absolute;
            top: 17.5rem;
            right: 6rem;
            color: $color-wh;
            background-color: $color-bul;
            padding: 0.7rem 0.8rem;
            border: solid 0.3rem $color-wh;
            border-radius: 3rem;
            box-shadow: $card-sh;
        }
        .title-area {
            padding-top: 2.5rem;
            .name-title {
                h3 {
                    font-weight: 700;
                    font-size: 2rem;
                }
                h4 {
                    font-weight: 600;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.jb-card-blog-1 {
    margin-top: 2rem;
    background-color: $color-wh;
    width: 330px;
    box-shadow: $card-sh-2;
    border-radius: .4rem;
    position: relative;
    transition:  box-shadow .4s;
    a{
        text-decoration: none;
        color: $text-c-head;
    }
    a:hover{
        text-decoration: none;

    }
    img{
        width: 33rem;
        height: 22rem;
    }
    i{
        position: absolute;
        font-size: 2.2rem;
        padding: 1rem 1.1rem;
        color: $color-wh;
        border: solid .4rem $color-wh;
        background-color: $primary-c;
        border-radius: 4rem;
       top: 19rem;
        right: 1rem;
    }
    .contain{
        padding: 0rem 1rem;
        h3{
            font-weight: 700;
            margin-bottom: 2rem;
        }
        p{
            font-weight: 500;
            font-size: 1.4rem;
            height: 12rem;
            text-align: justify;
            color: $text-c-head !important;
            .read-more{
                text-decoration: none;
                color: $primary-c;
            }
            .read-more:hover{
                text-decoration: none;
                color: $primary-c-h;
            }
        }
    }
    .footer{
        padding: 2rem 1rem;
        border-top: solid .1rem $color-bl-10;
        td{
            font-weight: 600;
        }
    }
}
.jb-card-blog-1:hover{
    box-shadow: $card-sh-1;
    transition: all .4s;
}
@media(max-width:557px){
    .jb-card-blog-1{
        width: 291px;
        img{
            width: 29.1rem;
            height: 19.4rem;
        }
        i{
            position: absolute;
            font-size: 2rem;
            padding: .8rem .9rem;
            color: $color-wh;
            border: solid .4rem $color-wh;
            background-color: $primary-c;
            border-radius: 4rem;
            top: 17rem;
            right: 1rem;
        }
    }
}


.about-card-2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    .card-contain {
        position: relative;
        padding: 2rem 2rem;
        padding-top: 20rem !important;
        width: 320px;
        .header-area {
            position: absolute;
            top: -3rem;
            .image-area {
                img {
                    height: 20rem;
                    width: 28rem;
                    border: solid 0.6rem $color-wh;
                    box-shadow: $card-sh;
                    transition: all .3s;
                }
                img:hover{
                    transform: translateY(-5px);
                    box-shadow: $primary-sh-2;
                    transition: all  0.3s ease-out, box-shadow 0.3s ease-in-out;
                }
            }
        }
        .title-area {
            position: relative;
            padding-top: 1rem;
            .tag {
                position: absolute;
                color: $color-wh;
                background-color: $color-bul-5;
                text-transform: uppercase;
                font-weight: 600;
                border-radius: 2rem;
                right: 0rem;
                top: 2rem;
                padding: 0.3rem 1rem;
                font-size: 1.2rem;
                line-height: 1.8;
            }
            .name-title {
                h3 {
                    font-weight: 700;
                    font-size: 1.8rem;
                }
                h4 {
                    font-weight: 600;
                    font-size: 1.6rem;
                }
            }
        }
        .contain-area {
            margin: 2rem 0;
            p {
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 350px) {
    .about-card-2 .card-contain {
        width: 290px;
        padding: 2rem 1rem;
        padding-top: 20rem !important;
        .header-area .image-area img {
            height: 19.285rem;
            width: 27rem;
        }
    }
}