


$primary-c:#00adef;
$background-c:#ffffff;
$background-c-2:#f9f9f9;

$menu-li-c:#565656;

$button-c:#24cf5f;

$text-c-head:#393939;
$text-c-pr:#393939;
$text-c-wh:#ffffff;
$text-c-wh-2:#f9f9f9af;


$f-bg-c:#2d3e50;
$f-text-c-head:#ffffff;
$f-text-c:#99a2ab;
$f-text-c-ho:#00adef;
$f-text-c-pr:#99a2ab;

$menu-sh: 0 1px 10px rgba(0, 0, 0, 0.06);
$card-sh:$card-sh-1;
$card-sh-2:0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
$primary-sh: 0 0 59px 0 rgba(0, 162, 255, 0.342);
$primary-sh-2:0px 0px 9px 3px rgba(0, 162, 255, 0.342);