.jb-bor-n{
    border: none;
} 
.jb-bor-sq-1{
    border: solid .1rem $color-bl-11;
    border-radius: none;
}
.jb-bor-sq-2{
    border: solid .15rem $color-bl-11;
    border-radius: none;
}
.jb-bor-sq-3{
    border: solid .2rem $color-bl-11;
    border-radius: none;
}

.jb-bor-t-1{border-top: solid .1rem $color-bl-11;}
.jb-bor-t-2{border-top: solid .15rem $color-bl-11;}
.jb-bor-t-3{border-top: solid .2rem $color-bl-11;}


.jb-bor-r-1{border-right: solid .1rem $color-bl-11;}
.jb-bor-r-2{border-right: solid .15rem $color-bl-11;}
.jb-bor-r-3{border-right: solid .2rem $color-bl-11;}

.jb-bor-b-1{border-bottom: solid .1rem $color-bl-11;}
.jb-bor-b-2{border-bottom: solid .15rem $color-bl-11;}
.jb-bor-b-3{border-bottom: solid .2rem $color-bl-11;}

.jb-bor-l-1{border-left: solid .1rem $color-bl-11;}
.jb-bor-l-2{border-left: solid .15rem $color-bl-11;}
.jb-bor-l-3{border-left: solid .2rem $color-bl-11;}


.jb-bor-re-1{
    border: solid .1rem $color-bl-11;
    border-radius: .5rem;
}

.jb-bor-re-2{
    border: solid .15rem $color-bl-11;
    border-radius: .5rem;
}
.jb-bor-re-3{
    border: solid .2rem $color-bl-11;
    border-radius: .5rem;
}