
//--Heading and paragraph start--//
h1{font-size: 4.6rem;}
h2{font-size: 3.2rem;}
h3{font-size: 2.4rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.6rem;}
h6{font-size: 1.2rem;}

p{font-size: 1.6rem; font-weight: 400 ;}

.t-size-1{font-size: 1rem !important;}
.t-size-2{font-size: 1.2rem !important;}
.t-size-3{font-size: 1.4rem !important;}
.t-size-4{font-size: 1.6rem !important;}
.t-size-5{font-size: 1.8rem !important;}
.t-size-6{font-size: 2.2rem !important;}
.t-size-7{font-size: 2.4rem !important;}
.t-size-8{font-size: 2.8rem !important;}
.t-size-9{font-size: 3.6rem !important;}
.t-size-10{font-size: 4.6rem !important;}

.font-w-n{font-weight:normal !important;}
.font-w-l{font-weight:lighter !important;}
.font-w-b{font-weight:bold !important;}
.font-w-bol{font-weight:bolder;}
.font-w-1{font-weight: 100 !important;}
.font-w-2{font-weight: 200 !important;}
.font-w-3{font-weight: 300 !important;}
.font-w-4{font-weight: 400 !important;}
.font-w-5{font-weight: 500 !important;}
.font-w-6{font-weight: 600 !important;}
.font-w-7{font-weight: 700 !important;}
.font-w-8{font-weight: 800 !important;}
.font-w-9{font-weight: 900 !important;}



//--Heading and paragraph end--//



//----------------//
//---margin start--///
//----------------//

 //--overall margin start---//
.jb-m-05{margin: 0.5rem !important;}
.jb-m-1{margin: 1rem !important;}
.jb-m-2{margin: 2rem !important;}
.jb-m-3{margin: 3rem !important;}
.jb-m-4{margin: 4rem !important;}
.jb-m-5{margin: 5rem !important;}
.jb-m-6{margin: 6rem !important;}
.jb-m-7{margin: 7rem !important;}
.jb-m-8{margin: 8rem !important;}
.jb-m-9{margin: 9rem !important;}
.jb-m-10{margin: 10rem !important;}
 //--overall margin end---//
 //--top-bottom margin start---//
 .jb-mtb-a{margin: auto 0rem !important;}
 .jb-mtb-0{margin: 0rem 0rem !important;}
 .jb-mtb-05{margin: 0.5rem 0rem !important;}
 .jb-mtb-1{margin: 1rem 0rem !important;}
 .jb-mtb-2{margin: 2rem 0rem !important;}
 .jb-mtb-3{margin: 3rem 0rem !important;}
 .jb-mtb-4{margin: 4rem 0rem !important;}
 .jb-mtb-5{margin: 5rem 0rem !important;}
 .jb-mtb-6{margin: 6rem 0rem !important;}
 .jb-mtb-7{margin: 7rem 0rem !important;}
 .jb-mtb-8{margin: 8rem 0rem !important;}
 .jb-mtb-9{margin: 9rem 0rem !important;}
 .jb-mtb-10{margin: 10rem 0rem !important;}
  //--top-bottom margin end---//
 
  //--left-right margin start---//
 .jb-mlr-a{margin: 0rem auto !important;}
 .jb-mlr-0{margin: 0rem 0rem !important;}
 .jb-mlr-05{margin: 0rem 0.5rem !important;}
 .jb-mlr-1{margin: 0rem 1rem !important;}
 .jb-mlr-2{margin: 0rem 2rem !important;}
 .jb-mlr-3{margin: 0rem 3rem !important;}
 .jb-mlr-4{margin: 0rem 4rem !important;}
 .jb-mlr-5{margin: 0rem 5rem !important;}
 .jb-mlr-6{margin: 0rem 6rem !important;}
 .jb-mlr-7{margin: 0rem 7rem !important;}
 .jb-mlr-8{margin: 0rem 8rem !important;}
 .jb-mlr-9{margin: 0rem 9rem !important;}
 .jb-mlr-10{margin:0rem  10rem !important;}
  //--left-right margin end---//
 //--top margin start---//
.jb-mt-a{margin-top: auto !important;}
.jb-mt-0{margin-top: 0rem !important;}
.jb-mt-05{margin-top: 0.5rem !important;}
.jb-mt-1{margin-top: 1rem !important;}
.jb-mt-2{margin-top: 2rem !important;}
.jb-mt-3{margin-top: 3rem !important;}
.jb-mt-4{margin-top: 4rem !important;}
.jb-mt-5{margin-top: 5rem !important;}
.jb-mt-6{margin-top: 6rem !important;}
.jb-mt-7{margin-top: 7rem !important;}
.jb-mt-8{margin-top: 8rem !important;}
.jb-mt-9{margin-top: 9rem !important;}
.jb-mt-10{margin-top: 10rem !important;}
 //--top margin end---//

 //--bottom margin start---//
 .jb-mb-a{margin-bottom: auto !important;}
 .jb-mb-0{margin-bottom: 0rem !important;}
.jb-mb-05{margin-bottom: 0.5rem !important;}
.jb-mb-1{margin-bottom: 1rem !important;}
.jb-mb-2{margin-bottom: 2rem !important;}
.jb-mb-3{margin-bottom: 3rem !important;}
.jb-mb-4{margin-bottom: 4rem !important;}
.jb-mb-5{margin-bottom: 5rem !important;}
.jb-mb-6{margin-bottom: 6rem !important;}
.jb-mb-7{margin-bottom: 7rem !important;}
.jb-mb-8{margin-bottom: 8rem !important;}
.jb-mb-9{margin-bottom: 9rem !important;}
.jb-mb-10{margin-bottom: 10rem !important;}
 //--bottom margin end---//

 //--left margin start---//
 .jb-ml-a{margin-left: auto !important;}
 .jb-ml-0{margin-left: 0rem !important;}
.jb-ml-05{margin-left: 0.5rem !important;}
.jb-ml-1{margin-left: 1rem !important;}
.jb-ml-2{margin-left: 2rem !important;}
.jb-ml-3{margin-left: 3rem !important;}
.jb-ml-4{margin-left: 4rem !important;}
.jb-ml-5{margin-left: 5rem !important;}
.jb-ml-6{margin-left: 6rem !important;}
.jb-ml-7{margin-left: 7rem !important;}
.jb-ml-8{margin-left: 8rem !important;}
.jb-ml-9{margin-left: 9rem !important;}
.jb-ml-10{margin-left: 10rem !important;}
 //--left margin end---//

 //--right margin start---//
 .jb-m-n{margin: none !important;}
 .jb-m-a{margin: auto !important;}
 .jb-m-0{margin: 0 !important;}

.jb-mr-a{margin-right: auto !important;}
.jb-mr-0{margin-right: 0rem !important;}
.jb-mr-05{margin-right: 0.5rem !important;}
.jb-mr-1{margin-right: 1rem !important;}
.jb-mr-2{margin-right: 2rem !important;}
.jb-mr-3{margin-right: 3rem !important;}
.jb-mr-4{margin-right: 4rem !important;}
.jb-mr-5{margin-right: 5rem !important;}
.jb-mr-6{margin-right: 6rem !important;}
.jb-mr-7{margin-right: 7rem !important;}
.jb-mr-8{margin-right: 8rem !important;}
.jb-mr-9{margin-right: 9rem !important;}
.jb-mr-10{margin-right: 10rem !important;}
 //--right margin end---//



//----------------//
//---margin end--///
//----------------//


//----------------//
//---padding start--///
//----------------//

 //--overall padding start---//
 .jb-p-05{padding: 0.5rem !important;}
 .jb-p-1{padding: 1rem !important;}
 .jb-p-2{padding: 2rem !important;}
 .jb-p-3{padding: 3rem !important;}
 .jb-p-4{padding: 4rem !important;}
 .jb-p-5{padding: 5rem !important;}
 .jb-p-6{padding: 6rem !important;}
 .jb-p-7{padding: 7rem !important;}
 .jb-p-8{padding: 8rem !important;}
 .jb-p-9{padding: 9rem !important;}
 .jb-p-10{padding: 10rem !important;}
  //--overall padding end---//
 //--top-bottom padding start---//
 .jb-ptb-05{padding: 0.5rem 0rem !important;}
 .jb-ptb-1{padding: 1rem 0rem !important;}
 .jb-ptb-2{padding: 2rem 0rem !important;}
 .jb-ptb-3{padding: 3rem 0rem !important;}
 .jb-ptb-4{padding: 4rem 0rem !important;}
 .jb-ptb-5{padding: 5rem 0rem !important;}
 .jb-ptb-6{padding: 6rem 0rem !important;}
 .jb-ptb-7{padding: 7rem 0rem !important;}
 .jb-ptb-8{padding: 8rem 0rem !important;}
 .jb-ptb-9{padding: 9rem 0rem !important;}
 .jb-ptb-10{padding: 10rem 0rem !important;}
  //--top-bottom padding end---//
 
  //--left-right padding start---//
 .jb-plr-05{padding: 0rem 0.5rem !important;}
 .jb-plr-1{padding: 0rem 1rem !important;}
 .jb-plr-2{padding: 0rem 2rem !important;}
 .jb-plr-3{padding: 0rem 3rem !important;}
 .jb-plr-4{padding: 0rem 4rem !important;}
 .jb-plr-5{padding: 0rem 5rem !important;}
 .jb-plr-6{padding: 0rem 6rem !important;}
 .jb-plr-7{padding: 0rem 7rem !important;}
 .jb-plr-8{padding: 0rem 8rem !important;}
 .jb-plr-9{padding: 0rem 9rem !important;}
 .jb-plr-10{padding:0rem  10rem !important;}
  //--left-right padding end---//
  //--top padding start---//
 .jb-pt-05{padding-top: 0.5rem !important;}
 .jb-pt-1{padding-top: 1rem !important;}
 .jb-pt-2{padding-top: 2rem !important;}
 .jb-pt-3{padding-top: 3rem !important;}
 .jb-pt-4{padding-top: 4rem !important;}
 .jb-pt-5{padding-top: 5rem !important;}
 .jb-pt-6{padding-top: 6rem !important;}
 .jb-pt-7{padding-top: 7rem !important;}
 .jb-pt-8{padding-top: 8rem !important;}
 .jb-pt-9{padding-top: 9rem !important;}
 .jb-pt-10{padding-top: 10rem !important;}
  //--top padding end---//
 
  //--bottom padding start---//
 .jb-pb-05{padding-bottom: 0.5rem !important;}
 .jb-pb-1{padding-bottom: 1rem !important;}
 .jb-pb-2{padding-bottom: 2rem !important;}
 .jb-pb-3{padding-bottom: 3rem !important;}
 .jb-pb-4{padding-bottom: 4rem !important;}
 .jb-pb-5{padding-bottom: 5rem !important;}
 .jb-pb-6{padding-bottom: 6rem !important;}
 .jb-pb-7{padding-bottom: 7rem !important;}
 .jb-pb-8{padding-bottom: 8rem !important;}
 .jb-pb-9{padding-bottom: 9rem !important;}
 .jb-pb-10{padding-bottom: 10rem !important;}
  //--bottom padding end---//
 
  //--left padding start---//
 .jb-pl-05{padding-left: 0.5rem !important;}
 .jb-pl-1{padding-left: 1rem !important;}
 .jb-pl-2{padding-left: 2rem !important;}
 .jb-pl-3{padding-left: 3rem !important;}
 .jb-pl-4{padding-left: 4rem !important;}
 .jb-pl-5{padding-left: 5rem !important;}
 .jb-pl-6{padding-left: 6rem !important;}
 .jb-pl-7{padding-left: 7rem !important;}
 .jb-pl-8{padding-left: 8rem !important;}
 .jb-pl-9{padding-left: 9rem !important;}
 .jb-pl-10{padding-left: 10rem !important;}
  //--left padding end---//
 
  //--right padding start---//
 .jb-pr-05{padding-right: 0.5rem !important;}
 .jb-pr-1{padding-right: 1rem !important;}
 .jb-pr-2{padding-right: 2rem !important;}
 .jb-pr-3{padding-right: 3rem !important;}
 .jb-pr-4{padding-right: 4rem !important;}
 .jb-pr-5{padding-right: 5rem !important;}
 .jb-pr-6{padding-right: 6rem !important;}
 .jb-pr-7{padding-right: 7rem !important;}
 .jb-pr-8{padding-right: 8rem !important;}
 .jb-pr-9{padding-right: 9rem !important;}
 .jb-pr-10{padding-right: 10rem !important;}
  //--right padding end---//
 
  
 
 //----------------//
 //---padding end--///
 //----------------//


 
 //----------------//
 //---text and item align end--///
 //----------------//

 .jb-text-c{text-align: center !important;}
 .jb-text-l{text-align: left !important;}
 .jb-text-r{text-align: right !important;}
 .jb-text-j{text-align: justify !important;}

 .jb-item-c{align-items: center !important;}
 .jb-item-l{align-items: left !important;}
 .jb-item-r{align-items: right !important;}

 .jb-tt-c{
     text-transform: capitalize !important;
 }
 .jb-tt-u{
    text-transform: uppercase !important;
}
.jb-tt-n{
    text-transform: none !important;
}


 //----------------//
 //---text item  align end--///
 //----------------//


 //----------------//
 //---position and display float start--///
 //----------------//

.jb-posi-r{position: relative !important;}
.jb-posi-a{position: absolute !important;}
.jb-posi-f{position: fixed !important;}

.jb-dis-i{display: inline !important;}
.jb-dis-b{display: block !important;}
.jb-dis-ib{display: inline-block !important;}
.jb-dis-n{display: none !important;}
.jb-dis-f{display: flex !important;}

.jb-fl-l{float: left !important;}
.jb-fl-r{float: right !important;}
.jb-fl-n{float: none !important;}

 //----------------//
 //---position  display float end--///
 //----------------//